<head><link rel="stylesheet" type="text/css" href="styles/footer.css"></head>
<footer>
  <% let date = new Date(); %>
  <% year = date.getFullYear() %>
  <p>© <%= year %>, WUN LIM ZHE</p>
  <p>App created with <a href="https://sv443.net/jokeapi/v2/" target="_blank">Joke API (v2.3.2)</a></p>
</footer>